*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing:border-box;
    z-index: 0;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color:orange;
    background-image: url(assets/pexels-photo-941459.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    box-shadow: 0.5rem 1 rem salmon;
    padding: 5px 0px;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    }
.logo{
    height: 50px;
    width: 50px;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    font-weight: 100;
    justify-content: space-between;
}
nav ul a{
    color: white;
    font-size: 18px;
}
nav ul a:hover{
    color: aqua;
    cursor: pointer;
    font-size: 15px;
}
button{
    background-color: blueviolet;
    border: 1px solid blueviolet;
    color: white;
    font-weight: 600;
    padding :10px 20px 10px 20px;
    border-radius: 5%;
    font-size: 15px;
}

button:hover{
    background-color: aqua;
    color: maroon;
    cursor: pointer;
}

main{
    margin-top: 10px;
    margin-left: 550px;
    margin-right: 100px; 
    align-self: center;
    justify-self: center;
    align-content: space-around;
    gap: 40px;
    padding-left: 50px;
    padding-right: 80px;
    padding-top: 10%;
    padding-bottom: 10%;
}

main h1{
    font-size: 70px;
    font-weight: 900;
    color: white;
} 
main p{
    font-size: 20px;
    font-weight: 200;
    color: white;
}
.two{
    margin-top: 30px;
    margin-left: 150px;
}
